section {
  background-color: #aec6c7;
}

section div {
  margin-top: 30px;
  margin-bottom: 30px;
}

section div div div {
  border-radius: 15px;
  border-width: 2px;
}

section div div div img {
  display: flex;
}

section div div div div {
  margin: 0px;
}

section div div div div h5 {
  font-family: lucida handwriting;
}

section div div div div p {
  font-size: medium;
}
